@use 'sass:color';

@function rgb-string($color) {
  @return color.red($color), color.green($color), color.blue($color);
}

@mixin light-mode {
  --ac-color-blue: #{rgb-string(#007af5)};
  --ac-color-b-0: #{rgb-string(#0067d0)};
  --ac-color-b-1: #{rgb-string(#268df6)};
  --ac-color-b-2: #{rgb-string(#4da2f8)};
  --ac-color-b-3: #{rgb-string(#66aff9)};
  --ac-color-b-4: #{rgb-string(#b3d7fc)};
  --ac-color-b-5: #{rgb-string(#cce4fd)};
  --ac-color-b-6: #{rgb-string(#e5f1fe)};
  --ac-color-b-7: #{rgb-string(#f2f8fe)};
  --ac-color-green: #{rgb-string(#00c261)};
  --ac-color-g-0: #{rgb-string(#00a552)};
  --ac-color-g-1: #{rgb-string(#26cb78)};
  --ac-color-g-2: #{rgb-string(#4cd490)};
  --ac-color-g-4: #{rgb-string(#b3eccf)};
  --ac-color-g-6: #{rgb-string(#e6f9ef)};
  --ac-color-g-7: #{rgb-string(#f2fbf6)};
  --ac-color-yellow: #{rgb-string(#f5a300)};
  --ac-color-y-0: #{rgb-string(#dc9200)};
  --ac-color-y-1: #{rgb-string(#f6b026)};
  --ac-color-y-2: #{rgb-string(#f8be4d)};
  --ac-color-y-4: #{rgb-string(#fce3b3)};
  --ac-color-y-6: #{rgb-string(#fef5e6)};
  --ac-color-y-7: #{rgb-string(#fefaf3)};
  --ac-color-red: #{rgb-string(#eb0027)};
  --ac-color-r-0: #{rgb-string(#c70021)};
  --ac-color-r-1: #{rgb-string(#ed2647)};
  --ac-color-r-2: #{rgb-string(#f14c67)};
  --ac-color-r-4: #{rgb-string(#f9b3be)};
  --ac-color-r-6: #{rgb-string(#fde6e9)};
  --ac-color-r-7: #{rgb-string(#fef3f4)};
  --ac-color-n-1: #{rgb-string(#323437)};
  --ac-color-n-2: #{rgb-string(#646669)};
  --ac-color-n-3: #{rgb-string(#7c7e81)};
  --ac-color-n-4: #{rgb-string(#96989b)};
  --ac-color-n-5: #{rgb-string(#aeb0b3)};
  --ac-color-n-6: #{rgb-string(#c8cacd)};
  --ac-color-n-7: #{rgb-string(#d4d6d9)};
  --ac-color-n-8: #{rgb-string(#edeff2)};
  --ac-color-n-9: #{rgb-string(#f7f9fc)};
  --ac-color-n-10: #{rgb-string(#fff)};
  --ac-color-origin-shadow: var(--ac-color-n-1);
  --ac-color-popper-bg: var(--ac-color-n-10);
  --ac-color-button-bg: var(--ac-color-n-9);
  --ac-color-main-bg: var(--ac-color-n-9);
  --ac-color-divider: var(--ac-color-n-8);
  --ac-color-border: var(--ac-color-n-7);
}

@mixin dark-mode {
  --ac-color-blue: #{rgb-string(#3d8eff)};
  --ac-color-b-0: #{rgb-string(#3674cc)};
  --ac-color-b-1: #{rgb-string(#6daaff)};
  --ac-color-b-2: #{rgb-string(#356fc1)};
  --ac-color-b-3: #{rgb-string(#3265ad)};
  --ac-color-b-4: #{rgb-string(#2f558f)};
  --ac-color-b-5: #{rgb-string(#283651)};
  --ac-color-b-6: #{rgb-string(#2a4066)};
  --ac-color-b-7: #{rgb-string(#2c4a7a)};
  --ac-color-green: #{rgb-string(#11b671)};
  --ac-color-g-0: #{rgb-string(#159261)};
  --ac-color-g-1: #{rgb-string(#4cc894)};
  --ac-color-g-2: #{rgb-string(#168b5d)};
  --ac-color-g-4: #{rgb-string(#1b674e)};
  --ac-color-g-6: #{rgb-string(#1f4a42)};
  --ac-color-g-7: #{rgb-string(#1c5848)};
  --ac-color-yellow: #{rgb-string(#edac2c)};
  --ac-color-y-0: #{rgb-string(#ba8a2d)};
  --ac-color-y-1: #{rgb-string(#f1c060)};
  --ac-color-y-2: #{rgb-string(#b0842d)};
  --ac-color-y-4: #{rgb-string(#7e622f)};
  --ac-color-y-6: #{rgb-string(#564831)};
  --ac-color-y-7: #{rgb-string(#695530)};
  --ac-color-red: #{rgb-string(#e2324f)};
  --ac-color-r-0: #{rgb-string(#b22f48)};
  --ac-color-r-1: #{rgb-string(#e9657b)};
  --ac-color-r-2: #{rgb-string(#a82e46)};
  --ac-color-r-4: #{rgb-string(#792b3f)};
  --ac-color-r-6: #{rgb-string(#532939)};
  --ac-color-r-7: #{rgb-string(#652a3c)};
  --ac-color-n-1: #{rgb-string(#f3f4f8)};
  --ac-color-n-2: #{rgb-string(#c8c9cd)};
  --ac-color-n-3: #{rgb-string(#b8bac2)};
  --ac-color-n-4: #{rgb-string(#989aa2)};
  --ac-color-n-5: #{rgb-string(#90939f)};
  --ac-color-n-6: #{rgb-string(#787b87)};
  --ac-color-n-7: #{rgb-string(#5c5f6b)};
  --ac-color-n-8: #{rgb-string(#434652)};
  --ac-color-n-9: #{rgb-string(#181b27)};
  --ac-color-n-10: #{rgb-string(#242733)};
  --ac-color-origin-shadow: var(--ac-color-n-9);
  --ac-color-popper-bg: #{rgb-string(#383b47)};
  --ac-color-button-bg: #{rgb-string(#383b47)};
  --ac-color-main-bg: var(--ac-color-n-9);
  --ac-color-divider: var(--ac-color-n-8);
  --ac-color-border: var(--ac-color-n-7);
}
