@import 'base-var';
@import 'theme-preset';
$ac-prefix: 'ac';

@mixin theme-light {
  $host: &;

  @at-root {
    :root #{$host} {
      @content;
    }

    html[ac-theme-mode='light'] #{$host} {
      @content;
    }
  }
}

@mixin theme-dark {
  $host: &;

  @at-root {
    @media (prefers-color-scheme: dark) {
      html[ac-theme-mode='system'] #{$host} {
        @content;
      }
    }

    html[ac-theme-mode='dark'] #{$host} {
      @content;
    }
  }
}

@include theme-light {
  .#{$ac-prefix}-chart-wrapper {
    @include light-mode;
  }
}

@include theme-dark {
  .#{$ac-prefix}-chart-wrapper {
    @include dark-mode;
  }
}

.#{$ac-prefix}-chart-wrapper {
  @include theme-light;
}

.#{$ac-prefix} {
  &-title {
    font-size: 18px;
    fill: use-rgb(n-1);
  }

  &-legend-item {
    text {
      font-size: 12px;
      fill: use-rgb(n-2);
    }

    &-hidden {
      text,
      .#{$ac-prefix}-legend-icon {
        fill: use-rgb(n-6);
      }
    }
  }

  &-x-axis,
  &-y-axis {
    .tick-line,
    .domain {
      stroke: use-rgb(n-8);
    }

    path,
    .tick-aim,
    line {
      stroke: use-rgb(n-7);
    }

    text {
      color: use-rgb(n-2);
      font-size: 12px;
    }
  }

  &-tooltip {
    position: absolute;
    visibility: visible;
    z-index: 8;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
    background-color: use-rgb(n-10);
    padding: 12px 8px 10px 14px;
    left: 0;
    top: 0;
    color: use-rgb(n-2);
    font-size: 12px;

    &-title {
      margin-bottom: 8px;
      font-weight: 500;
    }

    ul,
    li {
      margin: 0;
      list-style: none;
    }

    &-list {
      padding: 0;
    }
    .#{$ac-prefix}-tooltip-icon {
      margin-right: 4px;
      width: 16px;
      height: 2px;
      background-color: var(--ac-color-n-10);
      display: inline-block;
      font-size: 6px;
    }
    .#{$ac-prefix}-tooltip-icon-circle {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    .#{$ac-prefix}-tooltip-left {
      margin-right: 16px;
      display: flex;
      align-items: center;
    }
    .#{$ac-prefix}-tooltip-name {
      max-width: 197px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .#{$ac-prefix}-tooltip-right {
      text-align: right;
      white-space: nowrap;
      flex: 1 1 auto;
    }

    &-list-item {
      display: flex;
      align-items: center;
      padding: 0 8px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &-list-item-activated {
      background-color: use-rgb(p-6);
    }
  }

  &-zoom-brush {
    fill-opacity: 0.2;
    fill: use-rgb(n-6);
  }

  &-y-plot-line-tip-text {
    padding: 0 8px;
    border: 1px solid use-rgb(n-7);
    font-size: 12px;
    color: #666;
    white-space: nowrap;
  }
}
